body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
    /* 默认有边距，都要清除 */
    margin: 0;
    padding: 0;
    /*字体设置*/
    font-size: 14px;
    font-family: "Microsoft Yahei", sans-serif, tahoma;
	color: #666;
    /* 去掉列表的原点 */
    list-style: none;
    /* 默认鼠标 */
    cursor: default;
}

/*行内块元素*/
input,img{
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
    vertical-align: middle; 
}

/*行内元素*/
a,a:active,a:visited{
    /*下划线和颜色*/
    text-decoration: none;
	color: #050505;
}

a:hover{

}

textarea{
    /* 边框清零 */
    border:none;
    /* 轮廓线清零 */
    outline: none;
    /* 防止文本域被随意拖拽 */
    resize: none;
}

em,i{
    /*文字样式*/
    font-style: normal; 
}
 
table{
    /*边框合并*/
    border-collapse:collapse;
    border-spacing:0;
}

.hide,.none{
	display:none;
}
 
/* 使用伪元素清除浮动 */
.claerfix::after {
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.claerfix {
	*zoom: 1;
}
 
/* 版心*/
.w{
    width: 1200px;
    margin: 0 auto;
}